.frame {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 3%;

}


.half {
  text-align: center;
}

.smboxImg {
  /* padding: 20%; */
  width: 500px;
  height: 240px;
  padding-left: 30%;
  padding-top: 16%;
  color: black;
  margin-left: auto;
  margin-right: auto;
  border: 2px dotted grey;
}

.textRig {
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 3%;
  font-size: 34px;
  margin-bottom:3%;
}

.inpTxt {
  margin-left: 15%;
  margin-right: 15%;
}

.space2 {
  padding: 6px;
}

#near {
  float: left;
}
