<div class="frame">
  <div class="shadow-lg p-5 mb-5 bg-white rounded">
    <div class="rectangle">
      <div class="half">
        <div class="textRig"><i class="fa fa-upload"></i>&nbsp; Dodawanie zdjęcia </div>
        <br>
        <!-- <img class="smboxImg"> -->
        <img [src]="imgUrl" id="myImgId" style="height: 350px; width: 480px;" (click)="getCoordinates($event)">
        <br>
        <span class="btn btn-default btn-file" style="color: black">
          <input type="file" id="imgInp" (change)="handleFileInput($event.target.files)">
        </span>

        <div class="space2">&nbsp;</div>
        <div class="inpTxt">

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Tytuł zdjęcia</span>
            </div>
            <input type="title" class="form-control" placeholder="Tytuł zdjęcia" aria-label="title" aria-describedby="basic-addon1"
              [(ngModel)]="title">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Opis zdjęcia</span>
            </div>
            <input type="title" class="form-control" placeholder="Opis zdjęcia" aria-label="description"
              aria-describedby="basic-addon1" [(ngModel)]="description">
          </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Opis specjalny</span>
            </div>
            <textarea class="form-control" aria-label="With textarea" rows="7" [(ngModel)]="specialDescription"></textarea>
          </div>
          <br>

          <!-- <label style="margin-left: -258px">Wybierz katalog: </label> -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Wybierz katalog</span>
            </div>
            <select class="form-control" [(ngModel)]="modelFolder">
              <option *ngFor="let folder of folderList" [ngValue]="folder">{{folder.name}}</option>
            </select>
          </div>

          <label style="font-size: 10px; color: grey">Dla dokładniejszego oznaczenia osoby zaznacz ją na zdjęciu klikając na nią.</label>
          <label style="font-size: 10px; color: grey">Wybrane współrzędne: ({{xCon}}, {{yCon}})</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Oznacz osoby</span>
            </div>
            <div id="near">
              <select class="form-control" [(ngModel)]="modelPeople" style="width: 230px">
                <option *ngFor="let person of peopleList" [ngValue]="person">{{person.nickname}}</option>
              </select>
            </div>
            <div id="near">
              &nbsp;<button type="button" class="btn btn-info btn-xs" (click)="markPeople()"> <i class="	fa fa-plus"></i>
              </button>
            </div>

          </div>

          <!-- <a *ngFor="let peo of addedPeople" style="color: grey; ">{{peo.nickname}} &nbsp;</a> -->
          <a *ngFor="let peo of markListPeople" style="color: grey; ">{{peo.person.nickname}}({{peo.x}}, {{peo.y}}) &nbsp;</a>
          <br><br>

        </div>
        <button type="button" class="btn btn-primary btn-xs" (click)="addPhoto(modelFolder)" data-toggle="modal"
          data-target=".bd-example-modal-sm">Dodaj zdjęcie</button>

        <br><br>
        <label style="font-size: 15px; color: rgb(171, 169, 169)">* pole wymagane</label> <br>
        <label style="color: red;">{{msgEditAlert}}</label>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <br>
      <a style="color: black">{{msg}}</a>
      <br>
    </div>
  </div>
</div>
