<div class="frame">
    <div class="shadow-lg p-5 mb-5 bg-white rounded">
        <label class="lblReg"><i class="fa fa-user-plus"></i> &nbsp;Rejestracja </label>
        <div class="space2">&nbsp;</div>
        <div class="input-group mb-3">
          <input type="text" name="name" class="form-control" placeholder="Imię" aria-label="Name" aria-describedby="basic-addon1" [(ngModel)]="name">
        </div>
        <div class="input-group mb-3">
          <input type="text" name="surname" class="form-control" placeholder="Nazwisko" aria-label="Surname" aria-describedby="basic-addon1" [(ngModel)]="surname">
        </div>
        <div class="input-group mb-3">
          <input type="email" name="email" class="form-control" placeholder="Email*" aria-label="Email" aria-describedby="basic-addon1" [(ngModel)]="email">
        </div>
        <div class="input-group mb-3">
          <input type="password" name="password" class="form-control" placeholder="Hasło*" aria-label="Password" aria-describedby="basic-addon1" [(ngModel)]="password">
        </div>

        <div class="space2">&nbsp;</div>
        <div class="space2">&nbsp;</div>
        <button type="button" class="btn btn-primary btn-xs btn-block" data-toggle="modal" data-target="#myModal" (click)="register(name, surname, email, password)">Zarejestruj</button>
        <br>
        <label style="color: red;">{{msgEditAlert}}</label>
        <br>
        <label style="font-size: 15px; color: rgb(171, 169, 169)">* pole wymagane</label> <br>
        <label style="font-size: 15px; color: rgb(130, 130, 130)">
          Jeżeli nie udalo Ci się zalogować/zarejestrować <br>
          zaakceptuj <a href="https://www.sgitc.pl:8443/user/help">CERTIFIKAT</a><br>
        </label>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" (click)="closeModel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <h4 style="color: red" *ngIf="!msgTr">{{msg}}</h4>
      <h4 style="color: green" *ngIf="msgTr">{{msg}}</h4>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModel()">Zamknij</button>
      </div>
    </div>
  </div>
</div>

