.frame {
  text-align: center;
  margin-top: 3%;
  margin-left: 35%;
  margin-right: 35%;
}

.lblReg {
  font-family: Arial, Helvetica, sans-serif;
  color:grey;
  font-size: 34px;
}

.space2 {
  padding: 6px;
}

.textmargin {
  margin-right: 30px;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(50, 17, 17);
}
