
/* end of dashboard */
.nav {
  overflow: hidden;
}
.smNav {
  /* margin-top: 0.5px; */
  width: 80%;
  background-color: #4f5b69;
  float: left;
  padding: 10px;
}

.smNavleft {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(24, 24, 24);
  font-size: 18px;
  color: white;
  float: left;
  width: 20%;
  padding: 10px;
}

.btnMarg {
  margin-left: 2%;
}

.frame {
  /* border: 2px solid black; */
  /* float:left; */
  margin-left: 20%;
  margin-top: 10px;
  margin-right: 20%;
}

.lblLog {
  font-family: Arial, Helvetica, sans-serif;
  color:grey;
  font-size: 34px;
}

.frameImg {
  /* border: 2px solid black; */
  width: auto;
  height: auto;
  color: black;
  /* border: 2px solid red; */
}

.frameSelImg {
  /* border: 2px solid black; */
  /* float:left; */
  /* border: 2px solid black; */
  width: 200px;
  height: auto;
}

.selImg {
  display:inline-block;
  padding: 4px;
  cursor: pointer;
  height: 180px;
  width: 280px;
}

.selImg:hover{
  cursor: pointer;
  box-shadow: 0 15px 20px rgba(76, 151, 84, 0.538);
}

.titleImg {
  font-style: italic;
}

.descImg {
  color: rgb(175, 175, 175);
  font-style: italic;
  font-size: 20px;
}

.inpTxt {
  padding-left: 50px;
  padding-right: 50px;
}

#infoFolder{
  cursor: pointer;
  font-size: 18px
}

#infoFolder:hover {
  cursor: pointer;
  font-size: 18px;
  color: grey;
}

#delImg {
  color:red;
  cursor: pointer;
}

#delImg:hover {
  color: rgb(91, 28, 28);
  cursor: pointer;
}

#editImg {
  cursor: pointer;
}

#editImg:hover {
  color: rgb(138, 138, 138);
  cursor: pointer;
}

.framenav {
  width: 20%;
  float: left;
}

.bigframe {
  float: left;
  width: 80%;
  text-align: center;
}

td:hover {
  background: rgb(91, 91, 91);
}
