
<div class="nav">
  <div class="smNavleft">Foldery</div>
  <div class="smNav">
    <form class="form-inline my-2 my-lg-0">
      <a class="btnMarg"><button type="button" class="btn btn-success" (click)="addFolderClick()">+ Dodaj folder</button></a>
      <a style="color: white; margin-left: 50px;"></a>
      <label style="font-size: 16px; color: white;">&nbsp;&nbsp;&nbsp;Znajdz osobę:&nbsp;</label>
      <select class="form-control" [(ngModel)]="modelPeople" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let peop of listOfPeople" [ngValue]="peop">{{peop.nickname}}</option>
      </select>
      &nbsp;&nbsp;<button class="btn btn-outline-light my-2 my-sm-0" (click)="search()">Wyszukaj</button>
    </form>
  </div>
</div>

<div style=" overflow: hidden;">

  <!-- BOCZNE MENU -->
  <div class="framenav">
    <table class="table table-sm table-dark">
      <!-- <thead>
        <tr>
          <th scope="col">Foldery</th>
        </tr>
      </thead> -->
      <tbody>
        <tr *ngFor="let fol of folderList" style="padding: 3px">
          <td style="text-align: left;">
            &nbsp;<a (click)="getImages(fol.id, fol.name, fol.description, fol.specialDescription, fol.date_time)" style="text-align: left; cursor: pointer;">
              {{fol.name}}
            </a>
            <a *ngIf="fol.name!=='Inne'" style="float: right;">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-remove" id="delImg" (click)="deleteFolder(fol.id)"
                data-toggle="modal" data-target="#modelFolderDelete"></i>
              &nbsp;&nbsp;&nbsp;<i class="fa fa-edit" id="editImg" (click)="updateFol(fol.id, fol.name, fol.description, fol.specialDescription, fol.date_time)"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="bigframe">
    <!-- DODAWANIEEE FOLDERU -->
    <div class="frame" *ngIf="clickAddFolder">
      <div class="shadow-lg p-5 mb-5 bg-white rounded">
        <label class="lblLog"> <i class="fa fa-plus"></i> &nbsp; Dodawanie folderu </label>
        <!-- <i class="fa fa-user-circle" style="font-size:100px;color:grey"></i> -->
        <div class="space2">&nbsp;</div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nazwa folderu*</span>
          </div>
          <input type="text" class="form-control" placeholder="Nazwa*" maxlength="25" aria-label="Nazwa folderu*"
            aria-describedby="basic-addon1" [(ngModel)]="name">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Opis</span>
          </div>
          <input type="text" class="form-control" placeholder="Opis" aria-label="Opis folderu" aria-describedby="basic-addon1"
            [(ngModel)]="description">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Data</span>
          </div>
          <input type="date" class="form-control" placeholder="Data" aria-label="Data" aria-describedby="basic-addon1"
            [(ngModel)]="date">
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Opis specjalny</span>
          </div>
          <textarea class="form-control" aria-label="With textarea" rows="7" [(ngModel)]="specialDescription"></textarea>
        </div>

        <br>

        <div class="space2">&nbsp;</div>
        <button type="button" class="btn btn-primary btn-xs btn-block" (click)="addFolder(name, description, specialDescription, date)"
          data-toggle="modal" data-target=".bd-example-modal-sm">Dodaj
          folder</button>
        <br><br>
        <label style="font-size: 15px; color: rgb(171, 169, 169)">* pole wymagane</label> <br>
        <label style="color: red;">{{msgEditAlert}}</label>
      </div>
    </div>

    <!-- SHOW IMAGES OF CHOSEN FOLDERS -->
    <div class="frameImg" *ngIf="showImg">
      <h1>{{nameFolder}}
        <a *ngIf="nameFolder!=='Inne'">
          <i class="fa fa-info-circle" id="infoFolder" (click)="goToFolderInfo(idFolUrl)"></i>
        </a>
      </h1>
      <br><br>
      <div class="selImg" *ngFor="let img of imgListWithPeople">
        <img [src]="img.img.fileDownloadUri" class="selImg" (click)="goToImageInfo(img.img.id)">
      </div>
    </div>


    <!-- SHOW IMAGE WITH SEARCH PERSON  -->
    <div class="frameImg" *ngIf="searchPeople">
      <div class="selImg" *ngFor="let img of searchListImg">
        <img [src]="img.img.fileDownloadUri" class="selImg" (click)="goToImageInfo(img.img.id)"><br><br>
      </div>
    </div>






    <!-- SHOW EDIT PANEL FOR FOLDER -->
    <div class="frame" *ngIf="updateFolder">
      <div class="shadow-lg p-5 mb-5 bg-white rounded">
        <label class="lblLog"><i class="fa fa-edit"></i>&nbsp; Edytowanie folderu </label>
        <div class="space2">&nbsp;</div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nazwa folderu*: &nbsp;</span>
          </div>
          <input type="text" class="form-control" placeholder="name" aria-label="Nazwa folderu*" aria-describedby="basic-addon1"
            [(ngModel)]="nameFolderEdit">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Data: &nbsp;</span>
          </div>
          <input type="date" class="form-control" placeholder="date" aria-label="Data" aria-describedby="basic-addon1"
            [(ngModel)]="dateFolderEdit">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Opis: &nbsp;</span>
          </div>
          <input type="text" class="form-control" placeholder="description" aria-label="Opis folderu" aria-describedby="basic-addon1"
            [(ngModel)]="descFolEdit">
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Opis specjalny</span>
          </div>
          <textarea class="form-control" aria-label="With textarea" rows="7" [(ngModel)]="specialDescriptionFolderEdit"></textarea>
        </div>
        <br>

        <div class="space2">&nbsp;</div>
        <button type="button" class="btn btn-primary btn-xs btn-block" (click)="putFolder()" data-toggle="modal"
          data-target=".bd-example-modal-sm">Edytuj folder</button>
        <br>
        <label style="font-size: 15px; color: rgb(171, 169, 169)">* pole wymagane</label><br>
        <label style="color: red;">{{msgEditAlert}}</label>
        <br>
      </div>
    </div>
  </div>
</div>


<!-- POPUP! -->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <br>
      <a style="color: black">{{msg}}</a>
      <br>
    </div>
  </div>
</div>

<!-- USUUUUUUN FOLDER -->
<!-- Modal -->
<div class="modal fade" id="modelFolderDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Usuwanie folderu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Czy napewno chcesz usunąc ten folder?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
        <button type="button" class="btn btn-danger" (click)="deleteFolder2()" data-dismiss="modal">Tak</button>
      </div>
    </div>
  </div>
</div>

