<div class="frame">
  <!-- <div class = "rectangle"> -->
  <div class="shadow-lg p-5 mb-5 bg-white rounded">
    <label class="lblLog"> <i class="fa fa-user-plus"></i> &nbsp; Dodaj znajomego </label>
    <!-- <i class="fa fa-user-circle" style="font-size:100px;color:grey"></i> -->
    <div class="space2">&nbsp;</div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Pseudonim</span>
      </div>
      <input type="text" class="form-control" placeholder="Pseudonim *" aria-label="nickname" aria-describedby="basic-addon1" [(ngModel)]="nickname">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Imię</span>
      </div>
      <input type="text" class="form-control" placeholder="Imię" aria-label="firstname" aria-describedby="basic-addon1" [(ngModel)]="firstname">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Nazwisko</span>
      </div>
      <input type="text" class="form-control" placeholder="Nazwisko" aria-label="lastname" aria-describedby="basic-addon1" [(ngModel)]="lastname">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Data urodzin</span>
      </div>
      <input type="date" class="form-control" placeholder="Data urodzin" aria-label="birthday" aria-describedby="basic-addon1" [(ngModel)]="birthday">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Data śmierci</span>
      </div>
      <input type="date" class="form-control" placeholder="Data śmierci" aria-label="deathday" aria-describedby="basic-addon1" [(ngModel)]="deathday">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Opis</span>
      </div>
      <input type="text" class="form-control" placeholder="Opis" aria-label="description" aria-describedby="basic-addon1" [(ngModel)]="description">
    </div>

    <!-- <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Opis specjalny</span>
      </div>
      <input type="text" class="form-control" placeholder="Opis specjalny" aria-label="specialDescription" aria-describedby="basic-addon1" [(ngModel)]="specialDescription">
    </div> -->
<!--
    <div class="form-group">
      <label for="exampleFormControlTextarea1" style="margin-left: -270px">Opis specjalny</label>
      <textarea class="form-control" id="specialDescription" rows="5" [(ngModel)]="specialDescription"></textarea>
    </div> -->

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Opis specjalny</span>
      </div>
      <textarea class="form-control" aria-label="With textarea" rows="7" [(ngModel)]="specialDescription"></textarea>
    </div>

    <br><br>
    <button type="button" class="btn btn-primary btn-xs btn-block" (click)="addPeople(nickname, firstname, lastname, birthday, deathday, description, specialDescription)" data-toggle="modal" data-target=".bd-example-modal-sm">Dodaj</button>
    <br><br>
    <label style="font-size: 15px; color: rgb(171, 169, 169)">* pole wymagane</label><br>
    <label style="color: red;">{{msgEditAlert}}</label>
</div>
</div>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <br>
        <a style="color: black">{{msg}}</a>
        <br>
      </div>
    </div>
  </div>
