<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['home']"><i class="fa fa-home" id="icon"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>&nbsp;&nbsp;&nbsp;
  <div class="collapse navbar-collapse" id="navbarNavDropdown" *ngIf="checkToken()">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Zdjęcia</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a href="#" class="dropdown-item"[routerLink]="['browsePhoto']" id="icon1" ><i class="fa fa-object-ungroup"></i>&nbsp;Przeglądaj&nbsp;</a>
              <a href="#" class="dropdown-item"[routerLink]="['addPhoto']" id="icon1"><i class="fa fa-upload" ></i>&nbsp; Dodaj zdjęcie</a>
          </div>
      </li>&nbsp;&nbsp;&nbsp;
      <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Oznaczone osoby</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a href="#" class="dropdown-item"[routerLink]="['browsePeople']" id="icon1" ><i class="fa fa-users"></i>&nbsp;Przeglądaj&nbsp;</a>
              <a href="#" class="dropdown-item"[routerLink]="['addPeople']" id="icon1"><i class="fa fa-user-plus" ></i>&nbsp;Dodaj osobę</a>
          </div>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit" *ngIf="!checkToken()"
        [routerLink]="['login']"><i class="fa fa-sign-in"></i> &nbsp;Zaloguj </button>
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit" *ngIf="checkToken()"
      (click)="logOut()"><i class="fa fa-sign-out"></i> &nbsp;Wyloguj</button>
    </form>
  </div>
</nav> -->


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#" [routerLink]="['home']"><i class="fa fa-home" style="font-size:24px"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" *ngIf="checkToken()">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Zdjęcia
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"  [routerLink]="['browsePhoto']"><i class="fa fa-object-ungroup"></i> Przeglądaj</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" [routerLink]="['addPhoto']"><i class="fa fa-upload"></i>
            Dodaj zdjęcie</a>
        </div>
      </li>

      <li class="nav-item dropdown" *ngIf="checkToken()">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Oznaczone osoby
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" [routerLink]="['browsePeople']"><i class="fa fa-users"></i> Przeglądaj</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" [routerLink]="['addPeople']"><i class="fa fa-user-plus"></i>Dodaj osobę</a>
        </div>
      </li>
    </ul>
    <!-- right -->
    <div class='btn-toolbar pull-right'>
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit" [routerLink]="['login']" *ngIf="!checkToken()"> <i class="fa fa-sign-in"></i>
        Zaloguj</button>

      <div class="btn-group" id="acc"style="width: 0vw; overflow: hidden;">
        <button class="btn btn-outline-light my-2 my-sm-0 dropdown-toggle" data-toggle="dropdown" >
          <i class="fa fa-user-circle-o" style="font-size: 20px" ></i> &nbsp;&nbsp;<a id="emailText"></a>&nbsp;&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li>
            <a class="dropdown-item" (click)="logOut()"> <i class="fa fa-sign-out"></i> Wyloguj</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
