.window {
  text-align: center;
  color: black;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 25%;
  margin-right: 25%;
  /* width: fit-content;
  height: fit-content; */
}

.box {
  border: 2px outset white;
  background-color: white;
  width: 700px;
  height: 20%;
  padding: 10px;
  box-shadow: 2px gray;
  width: fit-content;
  height: fit-content;
}

.nickname {
  font-weight: bold;
  color: black !important;
  font-size: 30px;
}

.name {
  font-size: 20px;
  font-style: italic;
}

.desc {
  font-size: 16px;
}

.type{
  font-size: 14px;
  color: gray;
}

.smNav {
  /* margin-top: 0.5px; */

  background-color: #4f5b69;
  padding: 10px;
}

#edit{
  cursor: pointer;
  font-size: 18px;
}

#edit:hover {
  cursor: pointer;
  font-size: 18px;
  color: grey;
}

.lblLog {
  font-family: Arial, Helvetica, sans-serif;
  color:grey;
  font-size: 34px;
}

.desc {
  text-align: left;
}

#removeS{
  font-size: 18px;
  color: red;
  cursor: pointer;
}

#removeS:hover {
  font-size: 18px;
  color: rgb(128, 61, 61);
  cursor: pointer;
}
