<div class="smNav">
    <form class="form-inline my-2 my-lg-0">
      <label style="font-size: 18px; color: white;">&nbsp;&nbsp;&nbsp;Znajdz osobę:&nbsp;</label>
      <select class="form-control" [(ngModel)]="modelPeople" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let peop of peopleList" [ngValue]="peop">{{peop.nickname}}</option>
      </select>
      &nbsp;&nbsp;<button class="btn btn-outline-light my-2 my-sm-0" (click)="search()">Wyszukaj</button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-outline-warning my-2 my-sm-0" (click)="showAll()">Pokaż wszystkich</button>
    </form>
  </div>

<div class="window">
  <div *ngIf="showImg">
  <div *ngFor="let person of showSearchPeople">
    <div class="shadow-lg p-5 mb-2 bg-white rounded">
        <a class="nickname"><i class="fa fa-user-circle" style="font-size:36px"></i> &nbsp; {{person.nickname}}
          <i class="fa fa-edit" id="edit" (click)="showUpdate(person.id, person.nickname, person.firstname, person.lastname, person.birthday, person.deathday, person.description, person.specialDescription)"></i>
          &nbsp;<i class="fa fa-remove" id="delImg" (click)="deletePeople(person.id)" id="removeS" data-toggle="modal" data-target="#modelFolderDelete"></i>
        </a><br><br>
        <table class="table table-active">
            <thead>
              <tr>
                <th scope="col">Imię i nazwisko</th>
                <th scope="col">Data urodzenia</th>
                <th scope="col">Data śmierci</th>
                <th scope="col">Opis</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!-- <td>{{person.firstname}} {{person.lastname}}</td>
                <td>{{person.birthday}}</td>
                <td><a class="type" *ngIf="person.deathday!=='null' && person.deathday!=='undefined'">{{person.deathday}}</a></td>
                <td>{{person.description}}</td> -->
                <td><a *ngIf="person.firstname!=='null' && person.firstname!=='undefined' ">{{person.firstname}}</a> <a *ngIf="person.lastname!=='null' && person.lastname!=='undefined'">{{person.lastname}}</a></td>
                <td><a *ngIf="person.birthday!=='null' && person.birthday!=='undefined' && person.birthday!==''">{{person.birthday}}</a></td>
                <td><a class="type" *ngIf="person.deathday!=='null' && person.deathday!=='undefined'">{{person.deathday}}</a></td>
                <td><a *ngIf="person.description!=='null' && person.description!=='undefined' && person.description!==''">{{person.description}}</a></td>
              </tr>
            </tbody>
          </table>
        <label class="desc" *ngIf="person.specialDescription!=='null' && person.specialDescription!=='undefined'">{{person.specialDescription}}</label>
  </div><br>
</div>
</div>


<div *ngIf="showEdit">
    <div class="shadow-lg p-5 mb-5 bg-white rounded">
        <label class="lblLog"> <i class="fa fa-user-plus"></i> &nbsp; Edytuj znajomego </label>
        <!-- <i class="fa fa-user-circle" style="font-size:100px;color:grey"></i> -->
        <div class="space2">&nbsp;</div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Pseudonim</span>
          </div>
          <input type="text" class="form-control" placeholder="Pseudonim *" aria-label="nickname" aria-describedby="basic-addon1" [(ngModel)]="nickname">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Imię</span>
          </div>
          <input type="text" class="form-control" placeholder="Imię" aria-label="firstname" aria-describedby="basic-addon1" [(ngModel)]="firstname">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Nazwisko</span>
          </div>
          <input type="text" class="form-control" placeholder="Nazwisko" aria-label="lastname" aria-describedby="basic-addon1" [(ngModel)]="lastname">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Data urodzin</span>
          </div>
          <input type="date" class="form-control" placeholder="Data urodzin" aria-label="birthday" aria-describedby="basic-addon1" [(ngModel)]="birthday">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Data śmierci</span>
          </div>
          <input type="date" class="form-control" placeholder="Data śmierci" aria-label="deathday" aria-describedby="basic-addon1" [(ngModel)]="deathday">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Opis</span>
          </div>
          <input type="text" class="form-control" placeholder="Opis" aria-label="description" aria-describedby="basic-addon1" [(ngModel)]="description">
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Opis specjalny</span>
          </div>
          <textarea class="form-control" aria-label="With textarea" rows="7" [(ngModel)]="specialDescription"></textarea>
        </div>

        <br><br>
        <!-- <button type="button" class="btn btn-primary btn-xs btn-block" (click)="update(nickname, firstname, lastname, birthday, deathday, description, specialDescription)" data-toggle="modal" data-target=".bd-example-modal-sm">Edytuj</button> -->

        <div class="btn-group">
            <button type="button" class="btn btn-secondary btn-xs" (click)="cancel()">Anuluj</button>&nbsp;
            <button type="button" class="btn btn-success btn-xs"  (click)="update(nickname, firstname, lastname, birthday, deathday, description, specialDescription)" data-toggle="modal" data-target=".bd-example-modal-sm">Edytuj</button>
        </div>
        <br><br>
        <label style="color: red;">{{msgEditAlert}}</label><br>
        <label style="font-size: 15px; color: rgb(171, 169, 169)">* pole wymagane</label>
    </div>
</div>


</div>

<!-- USUUUUUUN Osobe -->
<!-- Modal -->
<div class="modal fade" id="modelFolderDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Usuwanie osoby</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Czy napewno chcesz usunąc tą osobę?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
        <button type="button" class="btn btn-danger" (click)="delete2()" data-dismiss="modal">Tak</button>
      </div>
    </div>
  </div>
</div>
