<div class="frame">
  <!-- <div class = "rectangle"> -->
  <div class="shadow-lg p-5 mb-5 bg-white rounded">
    <label class="lblLog"> <i class="fa fa-sign-in"></i> &nbsp; Logowanie  </label>
    <!-- <i class="fa fa-user-circle" style="font-size:100px;color:grey"></i> -->
    <div class="space2">&nbsp;</div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Login</span>
        </div>
        <input type="email" name="login" class="form-control" placeholder="Login*" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="email">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Hasło</span>
        </div>
        <input type="password" name="password" class="form-control" placeholder="Hasło*" aria-label="Password" aria-describedby="basic-addon1" [(ngModel)]="password">
      </div>
      <label class="text" style="color: red" *ngIf="loginWrong">Zły login lub hasło</label>
      <div class="space2">&nbsp;</div>
      <button type="button" class="btn btn-primary btn-xs btn-block" (click)="logIn(email, password)">Zaloguj</button>
      <br><br>
      <label class="text">Nie posiadasz konta?&nbsp;&nbsp;</label>
      <label class="text2" [routerLink]="['registration']" (click)="registration()">zarejestruj się</label>
      <br><br>
      <label style="font-size: 15px; color: rgb(171, 169, 169)">* pole wymagane</label><br><br>
      <label style="font-size: 15px; color: rgb(130, 130, 130)">
        Jeżeli nie udalo Ci się zalogować/zarejestrować <br>
        zaakceptuj <a href="https://www.sgitc.pl:8443/user/help">CERTIFIKAT</a><br>
      </label>
</div>
</div>
