.frame {
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 3%;
}

.lblLog {
  font-family: Arial, Helvetica, sans-serif;
  color:grey;
  font-size: 34px;
}
.space2 {
  padding: 6px;
}

.spaceReg {
  padding-bottom: 90px;
}

.textmargin {
  margin-right: 25px;
  font-size: 16px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(50, 17, 17);
}

.text {
  text-align: center;
  font-size: 15px;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

.text2 {
  text-align: center;
  font-size: 15px;
  font-family:Arial, Helvetica, sans-serif;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}



