<div class="windowBig">
  <div class="windows">
    <br>
    <div class="shadow-lg p-5 mb-5 bg-white rounded" *ngIf="showImg">

      <h2 class="titleImg"><a class="type" *ngIf="img.img.title!=='null' && img.img.title!=='undefined'">{{img.img.title}}</a></h2>
      <a class="descImg"><a class="type" *ngIf="img.img.description!=='null' && img.img.description!=='undefined'">"{{img.img.description}}"</a></a><br><br>
      <div class="image">
        <img id="imgHtml" [src]="img.img.fileDownloadUri" style="height: 350px; width: 480px;" (click)="getCoordinates($event)"><br>
        <span id="textEx"></span>
      </div>
      <i class="fa fa-remove" id="delImg" (click)="deleteImage(img.img.id)" data-toggle="modal" data-target="#modelImageDelete"></i>&nbsp;&nbsp;&nbsp;
      <i class="fa fa-edit" id="editImg" (click)="updateImg(img.img.id, img.img.title, img.img.description, img.img.specialDescription, img.img.fileDownloadUri)"></i>
      &nbsp;&nbsp;&nbsp;
      <i class="fa fa-user-plus" id="editImg" (click)="showMarkBox()"></i><br><br><br>

      <div *ngIf="showMarkPanel">
        <label style="font-size: 14px; color: grey">Dla dokładniejszego oznaczenia osoby zaznacz ją na zdjęciu klikając
          na nią.</label><br>
        <label style="font-size: 14px; color: grey">Wybrane współrzędne: ({{xCon}}, {{yCon}})</label> <br>
        <div class="input-group mb-3" style="margin-left: 20%">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Oznacz osoby</span>
          </div>
          <div id="near">
            <select class="form-control" [(ngModel)]="modelPeople" style="width: 230px">
              <option *ngFor="let person of peopleList" [ngValue]="person">{{person.nickname}}</option>
            </select>
          </div>
          <div id="near">
            &nbsp;<button type="button" class="btn btn-info btn-xs" (click)="markPeople()"> <i class="	fa fa-plus"></i>
            </button>
          </div>
        </div>
        <button type="button" class="btn btn-danger btn-xs" (click)="hideMark()">Zamknij
        </button>
        <br><br><br><br>
      </div>

      <table class="table table-sm table-active">
        <thead>
          <tr>
            <th scope="col"><i class="fa fa-info-circle" style="font-size:24px;"></i></th>
            <th scope="col">Nazwa pliku</th>
            <th scope="col">Typ</th>
            <th scope="col">Rozmiar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>{{img.img.fileName}}</td>
            <td>{{img.img.fileType}}</td>
            <td>{{img.img.size}}</td>
          </tr>
        </tbody>
      </table>
      <br>

      <table class="table table-sm table-active">
        <thead>
          <tr>
            <th scope="col"><i class="fa fa-users" style="font-size:24px;"></i></th>
            <th scope="col">Pseudonim</th>
            <th scope="col">Imię i nazwisko</th>
            <th scope="col">Data urodzenia</th>
            <th scope="col">Data śmierci</th>
            <th scope="col">Opis</th>
            <th scope="col">(x,y)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let people of img.listOfPeople" (click)="showMark(people)">
            <td class="personMark"><i class="fa fa-remove" id="delPerImg" (click)="deleteConnection(people.person.id, img.img.id)"
                data-toggle="modal" data-target="#modelConnDelete"></i></td>
            <td class="personMark">{{people.person.nickname}}</td>
            <td class="personMark"><a *ngIf="people.person.firstname!=='null' && people.person.firstname!=='undefined' ">{{people.person.firstname}}</a>
              <a *ngIf="people.person.lastname!=='null' && people.person.lastname!=='undefined'">{{people.person.lastname}}</a></td>
            <td class="personMark"><a *ngIf="people.person.birthday!=='null' && people.person.birthday!=='undefined' && people.person.birthday!==''">{{people.person.birthday}}</a></td>
            <td class="personMark"><a class="type" *ngIf="people.person.deathday!=='null' && people.person.deathday!=='undefined'">{{people.person.deathday}}</a></td>
            <td class="personMark"><a *ngIf="people.person.description!=='null' && people.person.description!=='undefined' && people.person.description!==''">{{people.person.description}}</a></td>
            <td class="personMark"><a *ngIf="people.x!=='null' && people.x!=='undefined' && people.x!==''">({{people.x}},{{people.y}})</a></td>
          </tr>
        </tbody>
      </table>
      <label class="desc" *ngIf="img.img.specialDescription!=='null' && img.img.specialDescription!=='undefined'"> <a
          class="descTit">Opis specjalny: </a> <br> {{img.img.specialDescription}}</label><br><br>
    </div>

    <!-- SHOW EDIT PANEL FOR IMAGE  -->
    <div class="frameImg" *ngIf="updateImage">
      <div class="shadow-lg p-5 mb-5 bg-white rounded">
        <div class="rectangle">
          <div class="half">
            <div class="lblLog"><i class="fa fa-edit"></i>&nbsp; Edytowanie zdjęcia </div>
            <br>
            <img [src]="imgEdit" style="height: 250px; width: 380px;">
            <br>
            <div class="space2">&nbsp;</div>
            <div class="inpTxt">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Tytuł:&nbsp;</span>
                </div>
                <input type="title" class="form-control" placeholder="Tytuł zdjęcia" aria-label="title"
                  aria-describedby="basic-addon1" [(ngModel)]="titleEdit">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Opis: &nbsp;</span>
                </div>

                <input type="title" class="form-control" placeholder="Opis zdjęcia" aria-label="description"
                  aria-describedby="basic-addon1" [(ngModel)]="descriptionEdit">
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Opis specjalny</span>
                </div>
                <textarea class="form-control" aria-label="With textarea" rows="7" [(ngModel)]="specialDescriptionEdit"></textarea>
              </div>
              <br>

              <div class="btn-group">
                <button type="button" class="btn btn-secondary btn-xs" (click)="cancel()">Anuluj</button>&nbsp;
                <button type="button" class="btn btn-success btn-xs" (click)="updatePhoto()" data-toggle="modal"
                  data-target=".bd-example-modal-sm">Edytuj</button>
              </div>
              <!-- <button type="button" class="btn btn-primary btn-xs" (click)="updatePhoto()" data-toggle="modal" data-target=".bd-example-modal-sm">Edytuj
              zdjęcie</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>


<!-- DEEEEELEETEEE IMAGE -->

<div class="modal fade" id="modelImageDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Usuwanie zdjęcia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Czy napewno chcesz usunąc to zdjęcie?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
        <button type="button" class="btn btn-danger" (click)="deleteImage2()" data-dismiss="modal">Tak</button>
      </div>
    </div>
  </div>
</div>



<!-- DEEEEELEETEEE connectiooon -->

<div class="modal fade" id="modelConnDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Usuwanie przypisania</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Czy napewno chcesz usunąc tą osobę ze zdjęcia?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nie</button>
        <button type="button" class="btn btn-danger" (click)="deleteConnection2()" data-dismiss="modal">Tak</button>
      </div>
    </div>
  </div>
</div>


<!-- POPUP! -->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <br>
      <a style="color: black">{{msg}}</a>
      <br>
    </div>
  </div>
</div>
