.windows {
  text-align: center;
  color: black;
  position: absolute;
  width: 800px;
  top: 25%;
  left: 35%;
  margin: -100px 0 0 -150px;
  /* margin-left: auto;
  margin-right: ; */
}

.titleImg {
  font-style: italic;
}

.descImg {
  color: rgb(175, 175, 175);
  font-style: italic;
  font-size: 20px;
}

.inpTxt {
  padding-left: 50px;
  padding-right: 50px;
}

.descTit {
  font-size: 16px;
  font-weight: bold;
}

.desc {
  font-size: 16px;
  text-align: left;
}

#delImg {
  color:red;
  cursor: pointer;
  margin-left:-420px;
}

#delImg:hover {
  color: rgb(91, 28, 28);
  cursor: pointer;
  margin-left:-420px;
}

#editImg {
  cursor: pointer;
}

#editImg:hover {
  color: rgb(138, 138, 138);
  cursor: pointer;
}

#delPerImg {
  color:red;
  cursor: pointer;
}

#delPerImg:hover {
  color:rgb(91, 28, 28);
  cursor: pointer;
}

#delImg:hover {
  color: rgb(91, 28, 28);
  cursor: pointer;
}

.image {
  /* border: 2px solid black; */
  margin-left: 15%;
  margin-right: 15.6%;
  position: relative;
}
#textEx {
  position: absolute;
  font-size: 18px;
  color:yellow;
  font-weight: bold;
}

.personMark:hover {
  color:grey;
  cursor: pointer;
}
