<div class="window">
  <div class="shadow-lg p-5 mb-2 bg-white rounded">
    <a class="name"><i class="fa fa-book" style="font-size:36px"></i> &nbsp; {{folder.name}}</a><br>
    <label class="type" *ngIf="folder.date_time!=='null' && folder.date_time!=='undefined'">{{folder.date_time}}</label><br><br>

    <label class="desc" *ngIf="folder.description!=='null' && folder.description!=='undefined'"> <a class="descTit">Krótki opis: </a> <br> {{folder.description}}</label><br><br>
    <label class="desc1" *ngIf="folder.specialDescription!=='null' && folder.specialDescription!=='undefined'"> <a class="descTit">Opis specjalny: </a> <br> {{folder.specialDescription}}</label><br><br>
  </div>
</div>
