.window {
  text-align: center;
  color: black;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 25%;
  margin-right: 25%;
}

.name {
  font-weight: bold;
  color: black !important;
  font-size: 30px;
}

.descTit {
  font-size: 16px;
  font-weight: bold;
}

.desc {
  font-size: 16px;
}

.desc1 {
  text-align: left;
  font-size: 16px;
}


.type{
  font-size: 14px;
  color: gray;
}
