.body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.back {
  /* background: rgb(233, 233, 233); */
  /* color: rgb(0, 255, 162); */

  background-image: linear-gradient(to right,rgba(0, 145, 255, 0.662),rgba(0, 242, 255, 0.628),rgba(0, 255, 162, 0.662), rgba(21, 250, 74, 0.628));
}
