<div class="image"></div>
<div class="frame">
  <br>
  <br>
  <br>
  <br>
  <br>
  <!--
    <div class="box">
      <div class="b1">
        <div class="box2"><i class="fa fa-camera-retro" style="font-size:110px;color: rgb(25, 52, 255)"></i></div>
        <div class="box3" style="color:rgb(25, 52, 255)" >Dodaj niezapomniane zdjęcia</div>
        <div class="box4">&nbsp;</div>
      </div>
    </div>

    <div class="box">
      <div class="b2">
        <div class="box4">&nbsp;&nbsp;</div>
        <div class="box3" style="color:rgb(10, 144, 24)">Oznacz swoich znajomych</div>
        <div class="box2"><i class="fa fa-group" style="font-size:110px;color: rgb(10, 144, 24)"></i></div>
      </div>
    </div>

    <div class="box">
      <div class="b1">
        <div class="box2"><i class="fa fa-folder-open" style="font-size:110px;color: rgb(229, 20, 170)"></i></div>
        <div class="box3" style="color:rgb(229, 20, 170)">Zarządzaj swoimi zdjęciami</div>
        <div class="box4">&nbsp;</div>
      </div>
    </div> -->

  <table class="table table-borderless">
    <tbody>
      <tr>
        <td>
          <i class="fa fa-folder-open" style="font-size:110px;color: rgb(229, 20, 170)"></i>
        </td>
        <td>
          <i class="fa fa-camera-retro" style="font-size:110px;color: rgb(25, 52, 255)"></i>
        </td>
        <td>
          <i class="fa fa-group" style="font-size:110px;color: rgb(10, 144, 24)"></i>
        </td>

      </tr>
      <td>
        <a style="color:rgb(229, 20, 170); font-size: 25px;">Zarządzaj swoimi zdjęciami </a>
      </td>
      <td>
        <a style="color:rgb(25, 52, 255); font-size: 25px;">Dodaj niezapomniane zdjęcia</a>
      </td>
      <td>
        <a style="color:rgb(10, 144, 24); font-size: 25px;">Oznacz swoich znajomych </a>
      </td>

    </tbody>
  </table>
  <!-- <img [src]="img" style="height: 200px; width: 250px;"> -->
</div>
