.frame {
  /* margin-top: 3%; */
  margin-left: 10%;
  margin-right: 10%;
  /* border: 1px solid black; */
}


.image {
  background: url("../../../src/assets/images/walZdje66.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 160px;
}


.box{
  width: 100%;
  margin: 4%;
  padding: 4%;
  padding-left: 10%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  /* border: 1px solid black; */
}

.box2 {
  width: 10%;
  float: left;
  color: black;
  text-align: center;
  /* border: 1px solid black; */
}

.box3 {
  width: 40%;
  text-align: center;
  float: left;
  padding: 30px;
  font-size: 35px;
  color: black;
  /* border: 1px solid black; */
}

.box4 {
  float: left;
  width: 30%;
  /* border: 1px solid black; */
}

.b1 {
  text-align: left;
}

.b2 {
  text-align: right;
}
